section {
    padding: 3rem 2rem;
    margin: 4rem auto;
    max-width: 1300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.a-propos {
    padding: var(--space-lg) 5%;
    background-color: var(--secondary-color);

}

.a-propos-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1px;
    align-items: center;
}

.a-propos-content p {
    font-size: 1.4rem;
    width: 800px;
}
.liste-faits {
    list-style: none;
    margin-top: var(--space-sm);
    padding-left: 0;
}

.liste-faits li {
    margin-bottom: var(--space-xs);
    font-style: italic;
}

.citation {
    margin-top: var(--space-md);
    font-style: italic;
    color: var(--secondary-color);
    border-left: 4px solid var(--accent-color);
    padding-left: var(--space-sm);
}

.liens-profil a {
    display: inline-block;
    margin-right: var(--space-sm);
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.liens-profil a:hover {
    color: var(--accent-color);
}

.a-propos-photo img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: var(--shadow);
}


.projets-container,
.competences-grid,
.interets-container,
.techno-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.projet-card,
.competence-item,
.interet-item,
.techno-item {
    background: #f9fafb;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    width: 200px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.projet-image img,
.competence-item img,
.interet-item img,
.techno-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.skills-list,
.formation-list,
.langues ul {
    list-style: none;
    padding-left: 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;

    padding: .7rem .1rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
}

.contact-form .cta {
    background-color: #1f2937;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}
