# Ignore les fichiers temporaires et de sauvegarde
*~
*.swp

# Ignore les fichiers de log
*.log

# Ignore le répertoire node_modules
node_modules/
application_voyage/

# Ignore les fichiers de build
dist/
build/

# Ignore les fichiers de configuration spécifiques à l'IDE
.vscode/
.idea/
